#weather
    padding: 80px 0
    .box
        background-color: #a4caff
        padding: 25px
        border-radius: 20px
        width: 250px
        .data
            h1,h2
                color: #ffff
                font-size: 25px
                margin-bottom: 20px
        input
            border-radius: 20px
            padding: 8px 10px
        #btn
            color: #ffff
            background-color: #79afff
            padding: 9px 
            margin: 25px auto 0
            border-radius: 20px
            cursor: pointer
            display: block
            max-width: 100px
            font-size: 20px
            
            
            
            